Repository bonddim/ansible-collection-linux, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, plugins, roles, skip-changelog

AdGuard Home role init
  .github/workflows/role_adguardhome.yaml
  molecule/adguardhome/converge.yml
  molecule/adguardhome/molecule.yml
  roles/adguardhome/defaults/main.yml
  roles/adguardhome/files/adguardhome.conf
  roles/adguardhome/meta/main.yml
  roles/adguardhome/tasks/install_docker.yml
  roles/adguardhome/tasks/main.yml
  roles/adguardhome/tasks/preinstall.yml
Labels: roles

Fix typo
  roles/adguardhome/defaults/main.yml
Labels: roles

Disable DNSStubLister if needed
  .github/workflows/role_adguardhome.yaml
  roles/adguardhome/tasks/preinstall.yml
  roles/adguardhome/tasks/resolved.yml
Labels: roles

fix lint issue
  roles/adguardhome/tasks/preinstall.yml
Labels: roles

Add missing dependency
  molecule/adguardhome/converge.yml
Labels: none

Switch to block from including
  roles/adguardhome/tasks/main.yml
  roles/adguardhome/tasks/preinstall.yml
  roles/adguardhome/tasks/resolved.yml
Labels: roles

Use preconfig tasks with condition
  roles/adguardhome/defaults/main.yml
  roles/adguardhome/tasks/main.yml
  roles/adguardhome/tasks/preconfig.yml
  roles/adguardhome/tasks/preinstall.yml
Labels: roles

Add snap install method
  roles/adguardhome/defaults/main.yml
  roles/adguardhome/tasks/install_snap.yml
  roles/adguardhome/tasks/preinstall.yml
Labels: roles

Use handler to restart resolved
  roles/adguardhome/handlers/main.yml
  roles/adguardhome/tasks/preconfig.yml
Labels: roles

add tests for snap installation
  .github/workflows/role_adguardhome.yaml
  molecule/adguardhome/converge.yml
Labels: none

Fix converge
  molecule/adguardhome/converge.yml
Labels: none

Add binary install method
  .github/workflows/role_adguardhome.yaml
  roles/adguardhome/defaults/main.yml
  roles/adguardhome/handlers/main.yml
  roles/adguardhome/tasks/install_binary.yml
  roles/adguardhome/tasks/install_docker.yml
  roles/adguardhome/tasks/main.yml
  roles/adguardhome/tasks/preconfig.yml
  roles/adguardhome/tasks/preinstall.yml
Labels: roles

Fix missing dependency on CentOs
  roles/adguardhome/tasks/install_binary.yml
Labels: roles

Update matrix
  .github/workflows/role_adguardhome.yaml
Labels: none

add assert tasks
  roles/adguardhome/tasks/assert.yml
  roles/adguardhome/tasks/main.yml
Labels: roles

Update docs
  README.md
  roles/adguardhome/README.md
Labels: documentation, roles

Change default install method to binary
  molecule/adguardhome/converge.yml
  roles/adguardhome/defaults/main.yml
Labels: roles

Add verify playbook
  molecule/adguardhome/files/AdGuardHome.yaml
  molecule/adguardhome/verify.yml
Labels: none

Fix container restart
  molecule/adguardhome/verify.yml
Labels: none

Update role name
  roles/adguardhome/README.md
Labels: documentation, roles

Exclude community.general 3.3.0 with broken snap module
  galaxy.yml
Labels: none

Set version
  galaxy.yml
Labels: none

Use published action for molecule
  .github/workflows/role_adguardhome.yaml
  .github/workflows/role_docker.yaml
  .github/workflows/role_lxd.yaml
  .github/workflows/role_snapd.yaml
  .github/workflows/role_traefik.yaml
  .github/workflows/role_users.yaml
  requirements.txt
Labels: none

Update role_snapd.yaml
  .github/workflows/role_snapd.yaml
Labels: none

exclude community.general 3.3.1
  galaxy.yml
Labels: none

Use cloud images
  .github/workflows/role_adguardhome.yaml
  .github/workflows/role_docker.yaml
  .github/workflows/role_lxd.yaml
  .github/workflows/role_snapd.yaml
  .github/workflows/role_users.yaml
Labels: none

Set snap installatian as experimental
  .github/workflows/role_adguardhome.yaml
Labels: none

Update dependency version
  galaxy.yml
Labels: none

Initial support for AWS Linux - needs epel role run first
  roles/snapd/tasks/main.yml
Labels: roles

fixes for ansible-lint
  roles/snapd/tasks/main.yml
Labels: roles

Add documentation and metadata for AWS Linux.
  roles/snapd/README.md
  roles/snapd/meta/main.yml
  roles/snapd/tasks/main.yml
Labels: documentation, roles

Init epel role
  .github/workflows/role_epel.yaml
  molecule/epel/converge.yml
  molecule/epel/molecule.yml
  roles/epel/defaults/main.yml
  roles/epel/meta/main.yml
  roles/epel/tasks/main.yml
Labels: roles

Increase ansible verbosity
  molecule/default/molecule.yml
Labels: none

Add readme
  roles/epel/README.md
  roles/epel/meta/main.yml
  roles/epel/tasks/main.yml
Labels: documentation, roles

Use default matrix for molecule
  .github/matrix.json
  .github/workflows/role_docker.yaml
Labels: none

disable fail-fast
  .github/workflows/role_docker.yaml
Labels: none

Decrease default distros
  .github/matrix.json
Labels: none

Set ansible-2.9 by default
  .github/matrix.json
Labels: none

Update adguardhome workflow
  .github/workflows/role_adguardhome.yaml
Labels: none

Update lxd workflow
  .github/workflows/role_lxd.yaml
Labels: none

.github/labeler.yml:

---
ci:
  - any: ['.github/workflows/role_*', 'molecule/**/*', 'requirements.txt', '*lint']
documentation:
  - '**/*.md'
plugins:
  - 'plugins/**/*'
roles:
  - 'roles/**/*'
skip-changelog:
  - any: ['.github/*', '.github/workflows/gh_*']
