Repository bonddim/ansible-collection-linux, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, documentation, plugins, roles, skip-changelog

.github/labeler.yml:

---
ci:
  - any: ['.github/workflows/role_*', 'molecule/**/*', 'requirements.txt', '*lint']
documentation:
  - '**/*.md'
plugins:
  - 'plugins/**/*'
roles:
  - 'roles/**/*'
skip-changelog:
  - any: ['.github/*', '.github/workflows/gh_*']

Exclude Debian from lxd
  .github/workflows/role_lxd.yaml
Labels: none

Update snapd and users
  .github/workflows/role_snapd.yaml
  .github/workflows/role_users.yaml
Labels: none

Update traefik role
  .github/workflows/role_traefik.yaml
Labels: none

Set weekly schedule
  .github/workflows/role_adguardhome.yaml
  .github/workflows/role_docker.yaml
  .github/workflows/role_epel.yaml
  .github/workflows/role_lxd.yaml
  .github/workflows/role_snapd.yaml
  .github/workflows/role_traefik.yaml
  .github/workflows/role_users.yaml
Labels: none

snapd repository needs high priority to override epel
  roles/snapd/tasks/main.yml
Labels: roles

Check lxd role exclude from matrix file
  .github/matrix.json
  .github/workflows/role_docker.yaml
  .github/workflows/role_lxd.yaml
Labels: none

Check docker role exclude
  .github/workflows/role_docker.yaml
Labels: none

Check conditional role include
  .github/matrix.json
  .github/workflows/role_adguardhome.yaml
Labels: none

Populate to docker role
  .github/workflows/role_docker.yaml
Labels: none

Update other roles
  .github/matrix.json
  .github/workflows/role_lxd.yaml
  .github/workflows/role_snapd.yaml
  .github/workflows/role_traefik.yaml
  .github/workflows/role_users.yaml
Labels: none

Test snapd with amzn2 image
  .github/matrix.json
  roles/snapd/meta/main.yml
  roles/snapd/tasks/main.yml
Labels: roles

Fix typo
  roles/snapd/tasks/main.yml
Labels: roles

Update readme
  README.md
Labels: documentation

Update yamllint rules
  .yamllint
  roles/snapd/meta/main.yml
  roles/traefik/tasks/preinstall.yml
Labels: roles
