Repository bonddim/ansible-collection-linux, pull requests merged in 2021-09, with the labels that each got.

#19 New role: epel
  .github/workflows/role_epel.yaml
  molecule/default/molecule.yml
  molecule/epel/converge.yml
  molecule/epel/molecule.yml
  roles/epel/README.md
  roles/epel/defaults/main.yml
  roles/epel/meta/main.yml
  roles/epel/tasks/main.yml
Labels: documentation, roles

#18 some documentation and metadata for AWS linux in snap role also dependency
  roles/snapd/README.md
  roles/snapd/meta/main.yml
  roles/snapd/tasks/main.yml
Labels: documentation, roles

#21 Use matrix.json for complete matrix generation
  .github/matrix.json
  .github/workflows/role_adguardhome.yaml
  .github/workflows/role_docker.yaml
  .github/workflows/role_lxd.yaml
  .github/workflows/role_snapd.yaml
  .github/workflows/role_traefik.yaml
  .github/workflows/role_users.yaml
Labels: skip-changelog

#22 Add test for snapd on amzn2
  .github/matrix.json
  roles/snapd/meta/main.yml
  roles/snapd/tasks/main.yml
Labels: roles

#23 Update readme
  README.md
Labels: documentation

#26 Support workflow refactoring
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/gh_pr_labeler.yaml
  .github/workflows/gh_release_drafter.yaml
  .github/workflows/gh_release_publisher.yaml
Labels: skip-changelog
